.food-display{
    margin-top:1.6rem;
}

.food-display h2 {
    font-size: max(2vw,1.4rem);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top:1.6rem;
    gap:1.6rem;
    row-gap:2.6rem;
}