.navBar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar .logo {
  width: 10rem;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: darkgray;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navBar button {
  background-color: transparent;
  font-size: 1rem;
  color: gray;
  border: 1px solid tomato;
  padding: 1.5px 2.5rem;
  border-radius: 5rem;
}

.navBar button:hover {
  background-color: #fff4f2;
}

.navBar .active {
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid #49557e;
}

.navBar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 0.5rem;
  min-height: 0.5rem;
  background-color: tomato;
  border-radius: 0.8rem;
  top: -0.5rem;
  left: 1.5rem;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }


  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
